<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <title>portfolio</title>
    <link rel="stylesheet" href="css/reset.css" type="text/css"> <!-- 초기화 css -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" type="text/css"> <!-- 스와이퍼 css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"> <!-- 슬릭슬라이더 css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"> <!-- 슬릭슬라이더 css -->
    <link rel="preconnect" href="https://fonts.googleapis.com"> <!-- 구글폰트 -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet"> <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Gowun+Dodum&family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/sub.css" type="text/css"> <!-- 서브 css -->

    <script src="http://code.jquery.com/jquery-latest.min.js"></script> <!-- 제이쿼리 최신버전 js -->
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script> <!-- 스와이퍼 js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script> <!-- 슬릭슬라이더 js -->
    <script type="text/javascript" src="js/script3.js"></script> <!-- js -->
</head>

<body>
    <!-- 헤더 -->
    <header class="pc"> <!--웹에서의 헤더-->
        <div id="lnb">
            <ul class="lnb">
                <li class="login"><a href="#none">로그인</a></li>
                <li class="cart"><a href="#none">장바구니</a></li>
                <li class="search"><a href="#none">검색</a></li>
                <li class="notice"><a href="#none">커뮤니티</a></li>
            </ul>
        </div>
        <div id="header">
            <h1><a href="#none">로고이미지</a></h1>
            <!-- 메뉴 (gnb) -->
            <ul id="nav">
                <li class="on"><a href="#none">All</a></li>
                <li><a href="#none">사료</a></li>
                <li><a href="#none">간식</a></li>
                <li><a href="#none">미용</a></li>
                <li><a href="#none">장난감</a></li>
                <li><a href="#none">가구</a></li>
            </ul>
            <!-- /메뉴 (gnb) -->
        </div>
    </header>

    <header class="mo"> <!--테블릿/모바일에서의 헤더-->
        <h1><a href="#none">로고이미지</a></h1>
        <input type="checkbox" id="icon">
        <label for="icon"> 
            <span></span>
            <span></span>
            <span></span>
        </label>
        <div id="header">
            <h1><a href="#none">로고이미지</a></h1>
            <p class="who">로그인이 필요합니다.</p><!-- 사용자 로그인 시 ooo(id)님 으로 변경 -->
            <ul class="top_menu clear">
                <li class="login"><a href="#none">로그인</a></li><!-- 사용자 로그인 시 로그아웃으로 변경 -->
                <li class="join"><a href="#none">회원가입</a></li><!-- 사용자 로그인 시 마이페이지로 변경 -->
            </ul>
            <ul class="icon_menu">
                <li class="search"><a href="#none"><img src="images/search.png" alt="">검색</a></li>
                <li class="cart"><a href="#none"><img src="images/cart.png" alt="">장바구니</a></li>
                <li class="cart"><a href="#none"><img src="images/search.png" alt="">??</a></li>
                <li class="cart"><a href="#none"><img src="images/search.png" alt="">??</a></li>
            </ul>
            <ul class="middle_menu">
                <li class="dir"><a href="#none" class="en">All</a></li>
                <li>
                    <a href="#none" class="en">DOG</a>
                    <ul>
                        <li><a href="#none">사료</a></li>
                        <li><a href="#none">간식</a></li>
                        <li><a href="#none">미용</a></li>
                        <li><a href="#none">장난감</a></li>
                        <li><a href="#none">가구</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#none" class="en">CAT</a>
                    <ul>
                        <li><a href="#none">사료</a></li>
                        <li><a href="#none">간식</a></li>
                        <li><a href="#none">미용</a></li>
                        <li><a href="#none">장난감</a></li>
                        <li><a href="#none">가구</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#none" class="en">COMMUNITY</a>
                    <ul>
                        <li><a href="#none">공지사항</a></li>
                        <li><a href="#none">FAQ</a></li>
                        <li><a href="#none">Q&A</a></li>
                        <li><a href="#none">이벤트</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>
    <!-- /헤더 -->

    <div class="search_popup" style="display: none;">
        <a href="#none" class="search_close"><img src="images/ver02/close.png" alt=""></a>
        <div>
            <input type="search" id="search" placeholder="검색어를 입력해주세요">
            <button type="submit"><img src="images/ver02/search_w.png" alt=""></button>
        </div>
    </div>

    <main id="inquiry">
        
        <section class="inquiry_">
            <h3>문의하기</h3>

            <div class="mo_scroll">  
                <p class="scroll_x">↔ 좌우로 스크롤하세요</p>          
                <div class="inquiry_wrap">
                    <ul class="th_line">
                        <li class="no">No.</li>
                        <li class="tit">제목</li>
                        <li class="date">작성날짜</li>
                    </ul>

                    <div class="qna_wrap">

                        <div class="qna">
                            <ul class="list">
                                <li class="no">10</li>
                                <li class="tit">상품 교환 문의드립니다.</li> 
                                <li class="date">2023.05.14</li>
                            </ul>
                            <ul class="text_wrap">
                                <li class="q_area">
                                    <p class="no">Q</p>
                                    <p class="question tit">상품 재입고 문의드립니다. 내용내용내용<br>상품 재입고 문의드립니다. 내용내용내용</p>
                                    <p class="question_date date">2023.06.14</p>
                                </li>
                                <li class="a_area yet"><!-- 답변을 아직 안달았을떄 yet 클래스 부여-->
                                    <p class="no"></p>
                                    <p class="answer tit"></p>
                                    <p class="answer_date date"></p>
                                </li>
                            </ul>
                        </div>

                        <div class="qna">
                            <ul class="list">
                                <li class="no">9</li>
                                <li class="tit">상품 교환 문의드립니다.</li> 
                                <li class="date">2023.05.14</li>
                            </ul>
                            <ul class="text_wrap">
                                <li class="q_area">
                                    <p class="no">Q</p>
                                    <p class="question tit">상품 재입고 문의드립니다. 내용내용내용<br>상품 재입고 문의드립니다. 내용내용내용</p>
                                    <p class="question_date date">2023.06.14</p>
                                </li>
                                <li class="a_area yet"><!-- 답변을 아직 안달았을떄 yet 클래스 부여-->
                                    <p class="no"></p>
                                    <p class="answer tit"></p>
                                    <p class="answer_date date"></p>
                                </li>
                            </ul>
                        </div>

                        <div class="qna">
                            <ul class="list">
                                <li class="no">8</li>
                                <li class="tit">상품 교환 문의드립니다.</li> 
                                <li class="date">2023.05.14</li>
                            </ul>
                            <ul class="text_wrap">
                                <li class="q_area">
                                    <p class="no">Q</p>
                                    <p class="question tit">상품 재입고 문의드립니다. 내용내용내용<br>상품 재입고 문의드립니다. 내용내용내용</p>
                                    <p class="question_date date">2023.06.14</p>
                                </li>
                                <li class="a_area yet"><!-- 답변을 아직 안달았을떄 yet 클래스 부여-->
                                    <p class="no"></p>
                                    <p class="answer tit"></p>
                                    <p class="answer_date date"></p>
                                </li>
                            </ul>
                        </div>

                        <div class="qna">
                            <ul class="list">
                                <li class="no">7</li>
                                <li class="tit">상품 교환 문의드립니다.</li> 
                                <li class="date">2023.05.14</li>
                            </ul>
                            <ul class="text_wrap">
                                <li class="q_area">
                                    <p class="no">Q</p>
                                    <p class="question tit">상품 재입고 문의드립니다. 내용내용내용<br>상품 재입고 문의드립니다. 내용내용내용</p>
                                    <p class="question_date date">2023.06.14</p>
                                </li>
                                <li class="a_area yet"><!-- 답변을 아직 안달았을떄 yet 클래스 부여-->
                                    <p class="no"></p>
                                    <p class="answer tit"></p>
                                    <p class="answer_date date"></p>
                                </li>
                            </ul>
                        </div>

                        <div class="qna">
                            <ul class="list">
                                <li class="no">6</li>
                                <li class="tit">상품 교환 문의드립니다.</li> 
                                <li class="date">2023.05.14</li>
                            </ul>
                            <ul class="text_wrap">
                                <li class="q_area">
                                    <p class="no">Q</p>
                                    <p class="question tit">상품 재입고 문의드립니다. 내용내용내용<br>상품 재입고 문의드립니다. 내용내용내용</p>
                                    <p class="question_date date">2023.06.14</p>
                                </li>
                                <li class="a_area yet"><!-- 답변을 아직 안달았을떄 yet 클래스 부여-->
                                    <p class="no"></p>
                                    <p class="answer tit"></p>
                                    <p class="answer_date date"></p>
                                </li>
                            </ul>
                        </div>

                        <div class="qna">
                            <ul class="list">
                                <li class="no">5</li>
                                <li class="tit">상품 교환 문의드립니다.</li> 
                                <li class="date">2023.05.14</li>
                            </ul>
                            <ul class="text_wrap">
                                <li class="q_area">
                                    <p class="no">Q</p>
                                    <p class="question tit">상품 재입고 문의드립니다. 내용내용내용<br>상품 재입고 문의드립니다. 내용내용내용</p>
                                    <p class="question_date date">2023.06.14</p>
                                </li>
                                <li class="a_area yet"><!-- 답변을 아직 안달았을떄 yet 클래스 부여-->
                                    <p class="no"></p>
                                    <p class="answer tit"></p>
                                    <p class="answer_date date"></p>
                                </li>
                            </ul>
                        </div>

                        <div class="qna">
                            <ul class="list">
                                <li class="no">4</li>
                                <li class="tit secret">상품 교환 문의드립니다.</li> <!-- 비밀글일때 secret 클래스 부여-->
                                <li class="date">2023.05.14</li>
                            </ul>
                            <ul class="text_wrap secret_qna"><!--비밀글일때 secret_qna 클래스 부여-->
                                <li class="q_area">
                                    <p class="no">Q</p>
                                    <p class="question tit">비밀 문의글입니다.</p>
                                    <p class="question_date date">2023.06.14</p>
                                </li>
                                <li class="a_area yet"><!-- 답변을 아직 안달았을떄 yet 클래스 부여-->
                                    <p class="no"></p>
                                    <p class="answer tit"></p>
                                    <p class="answer_date date"></p>
                                </li>
                            </ul>
                        </div>

                        <div class="qna">
                            <ul class="list">
                                <li class="no">3</li>
                                <li class="tit secret">상품 교환 문의드립니다.</li> <!-- 비밀글일때 secret 클래스 부여-->
                                <li class="date">2023.05.14</li>
                            </ul>
                            <ul class="text_wrap secret_qna"> <!--비밀글일때 secret_qna 클래스 부여-->
                                <li class="q_area">
                                    <p class="no">Q</p>
                                    <p class="question tit">비밀 문의글입니다.</p>
                                    <p class="question_date date">2023.06.14</p>
                                </li>
                                <li class="a_area">
                                    <p class="no">A</p>
                                    <p class="answer tit">비밀글 답변입니다.</p>
                                    <p class="answer_date date">2023.06.14</p>
                                </li>
                            </ul>
                        </div>

                        <div class="qna">
                            <ul class="list">
                                <li class="no">2</li>
                                <li class="tit">상품 재입고 문의</li>
                                <li class="date">2023.05.14</li>
                            </ul>
                            <ul class="text_wrap">
                                <li class="q_area">
                                    <p class="no">Q</p>
                                    <p class="question tit">상품 재입고 문의드립니다. 내용내용내용<br>상품 재입고 문의드립니다. 내용내용내용<br>상품 재입고 문의드립니다. 내용내용내용</p>
                                    <p class="question_date date">2023.06.14</p>
                                </li>
                                <li class="a_area">
                                    <p class="no">A</p>
                                    <p class="answer tit">상품 재입고 답변드립니다. 내용내용내용<br>감사합니다</p>
                                    <p class="answer_date date">2023.06.14</p>
                                </li>
                            </ul>
                        </div>

                        <div class="qna">
                            <ul class="list">
                                <li class="no">1</li>
                                <li class="tit">상품 재입고 문의</li>
                                <li class="date">2023.05.14</li>
                            </ul>
                            <ul class="text_wrap">
                                <li class="q_area">
                                    <p class="no">Q</p>
                                    <p class="question tit">상품 재입고 문의드립니다. 내용내용내용<br>상품 재입고 문의드립니다. 내용내용내용<br>상품 재입고 문의드립니다. 내용내용내용</p>
                                    <p class="question_date date">2023.06.14</p>
                                </li>
                                <li class="a_area">
                                    <p class="no">A</p>
                                    <p class="answer tit">상품 재입고 답변드립니다. 내용내용내용<br>감사합니다</p>
                                    <p class="answer_date date">2023.06.14</p>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                
            </div>

            <ul class="paging">
                <li class="first"><a href="#none"></a></li>
                <li class="pre"><a href="#none"></a></li>
                <li class="on"><a href="#none">1</a></li>
                <li><a href="#none">2</a></li>
                <li><a href="#none">3</a></li>
                <li><a href="#none">4</a></li>
                <li><a href="#none">5</a></li>
                <li><a href="#none">6</a></li>
                <li><a href="#none">7</a></li>
                <li><a href="#none">8</a></li>
                <li><a href="#none">9</a></li>
                <li><a href="#none">10</a></li>
                <li class="next"><a href="#none"></a></li>
                <li class="last"><a href="#none"></a></li>
            </ul>
            
            <div class="btn_wrap">
                <a href="#none" class="order_btn">문의하기</a>
                <!--<a href="#none" class="shopping_btn">쇼핑하기</a>-->
            </div>
        </section>

        <section class="inquiry_popup" style="display: none;">
            <a href="#none" class="inquiry_close"><img src="images/ver02/close.png" alt=""></a>
            <div class="inquiry_write">
                <h3>문의</h3>
                <table>
                    <colgroup>
                        <col width="20%">
                        <col width="80%">
                    </colgroup>
                    <tr>
                        <th>비밀글 여부</th>
                        <td>
                            <input type="radio" id="secret_write_Y"  name="secret_write" checked> <label for="secret_write_Y">YES</label> 
                            <input type="radio" id="secret_write_N"  name="secret_write"> <label for="secret_write_N">NO</label> 
                        </td>
                    </tr>
                    <tr>
                        <th><label for="inquiry_tit">제목</label></th>
                        <td><input type="text" id="inquiry_tit" placeholder="제목을 입력해 주세요" required></td>
                    </tr>
                    <tr>
                        <th><label for="inquiry_cont">문의 내용</label></th>
                        <td>
                            <textarea name="inquiry_cont" id="inquiry_cont" placeholder="700자 이하 입력가능" required></textarea>
                            <div class="textLengthWrap">
                                <span class="textCount">0자</span>
                                <span class="textTotal">/ 700자</span>
                            </div>
                        </td>
                    </tr>
                </table>  
                
                <div class="btn_wrap">
                    <a href="#none" class="order_btn">문의</a>
                    <a href="#none" class="shopping_btn">취소</a>
                </div>              
            </div>
        </section>



        


        <!-- 탑버튼 -->
        <a href="#none" class="top_btn"><img src="images/ver02/top_btn.png" alt=""></a>
        <!-- /탑버튼 -->

    </main>

    <!-- 푸터 -->
    <footer>
        <div id="footer" class="clear">
            <div class="logo"><img src="images/ver02/logo_blue.png"></div>
            <div class="customer">
                <h4>고객센터</h4>
                <p class="tel">054-873-7749</p>
                <p class="time">
                    화~일 : AM 10:00 ~ PM 05:00 (점심시간 : PM 12:00 ~ PM 01:00)<br>
                    매주 월요일 / 1월1일 / 설날·추석 당일 휴무
                </p>
                <p></p>
            </div>
            <div class="address">
                <h4>반품주소 안내</h4>
                <p>경북 청송군 주왕산면 주왕산로 494 청송백자전수관</p>
            </div>
        </div>

        <div class="footer">
            <p>copyright</p>
        </div>
    </footer>
    <!-- /푸터 -->
    





</body>

</html>