<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div class="p-3 mb-2 bg-body text-body">
		<!--배경색 start-->
		<br>
		<main id="inquiry" class="content">
			<div align="center" style="margin: 5%;">
				<h1 class="display-6">
					<b>Product Insert Page</b>
				</h1>
				<br>
				<hr>
				<br> <a href="#none" class="inquiry_close"><img
					src="images/ver02/close.png" alt=""></a>
				<div class="inquiry_write">
					<form action="" method="POST" enctype="multipart/form-data">
						<table>
							<tr>
								<td rowspan="8" width="30%" style="text-align: center;"><img
									id="preview" src="" width="100%"><br> <br> <br>
									<b>이미지 미리보기</b></td>
								<td style="text-align: center;">제품번호</td>
								<td><input type="text" id="productNo" name="productNo"
									required></td>
							</tr>
							<tr>
								<td style="text-align: center;">제품명</td>
								<td><input type="text" id="productName" name="productName"
									required></td>
							</tr>

							<tr>
								<td style="text-align: center;">수량</td>
								<td><input type="number" id="productEa" name="productEa"
									required></td>
							</tr>
							<tr>
								<td style="text-align: center;">가격</td>
								<td><input type="number" id="price" name="price" min="3000"
									step="100" required></td>
							</tr>
							<tr>
								<td style="text-align: center;">상품 정보</td>
								<td><input type="text" id="productContent"
									name="productContent" required></td>
							</tr>
							<tr>
								<td style="text-align: center;">카테고리</td>
								<td><input type="text" id="category" name="category"
									required></td>
							</tr>
							<tr>
								<td style="text-align: center;">서브 카테고리</td>
								<td><input type="text" id="subCategory" name="subCategory"
									required></td>
							</tr>
							<tr>
								<td style="text-align: center;">제품사진</td>
								<td><input id="file" type="file" name="file" required></td>
							</tr>
						</table>
						<div class="btn_wrap">
							<a id="modifyProduct" href="#none" class="order_btn">등록</a> <a
								href="#none" class="shopping_btn">취소</a>
						</div>

					</form>
				</div>
			</div>
		</main>
	</div>
</body>
</html>