/* 공통 */
*{font-family: 'S-CoreDream-3Light', 'Noto Sans KR', sans-serif;}
.en{font-family: 'Comfortaa', cursive;}
.clear::after{content: ''; clear: both; display: block;}
section{width: 1200px; margin: 0 auto; padding-top: 120px;}
section > h2{text-transform: uppercase; text-align: center; font-weight: 700; font-size: 35px; margin-bottom: 30px; letter-spacing: 5px;}
section > h2::first-letter{color: #4982cf;}

/* header */
header.pc{width: 100%; height: 110px; position: fixed; top: 0; left: 0; z-index: 99;}
header.pc #lnb{width: 100%; height: 35px; box-sizing: border-box;}
header.pc #lnb .lnb{width: 1200px; height: 100%; margin: 0 auto; display: flex; justify-content:flex-end; align-items: center;}
header.pc #lnb .lnb li{margin-left: 29px; position: relative;}
/*header.pc #lnb .lnb li.login::before{content: ""; display: block; background: url('../images/user.png') center/contain no-repeat; position: absolute; top: 0; left: -15px; width: 11px; height: 19px;}
header.pc #lnb .lnb li.cart::before{content: ""; display: block; background: url('../images/cart.png') center/contain no-repeat; position: absolute; top: 0; left: -15px; width: 11px; height: 19px;}
header.pc #lnb .lnb li.search::before{content: ""; display: block; background: url('../images/search.png') center/contain no-repeat; position: absolute; top: 0; left: -15px; width: 11px; height: 19px;}
header.pc #lnb .lnb li.notice::before{content: ""; display: block; background: url('../images/menu.png') center/contain no-repeat; position: absolute; top: 0; left: -15px; width: 11px; height: 19px;}*/
header.pc #lnb .lnb li a{font-size: 12px;}

header.pc #header{height: 75px; width: 1200px; margin: 0 auto; display: flex; align-items: center; justify-content:space-between;}
header.pc #header h1{width: 70px; height: 54px; background: url('../images/ver02/logo.png') 0 0/contain no-repeat;}
header.pc #header h1 a{font-size: 0; display: block; height: 100%;}
header.pc #header #nav{display: flex; align-items: center;}
header.pc #header #nav li{margin-left: 120px; }
header.pc #header #nav li:first-of-type{margin-left: 0px;}
header.pc #header #nav li a{font-weight: 600; font-size: 16px;}

header.pc.active {background-color: #fff; border-bottom:1px solid #eee; box-shadow: 1px 1px 10px rgba(0,0,0,0.2);}
header.pc.active #header h1{width: 70px; height: 54px; background: url('../images/ver02/logo_blue.png') 0 0/contain no-repeat;}
header.pc.active #header #nav{height: 100%;}
header.pc.active #header #nav li{height: 100%;}
header.pc.active #header #nav li a{height: 100%; display: inline-block; line-height: 75px; box-sizing: border-box;}
header.pc.active #header #nav li a:hover{/*border-bottom: 3px solid red;*/ color: #4982cf;}




/* 검색창 */
.search_popup{position: fixed; width: 100%; height: 100%; background: rgba(0,0,0,0.8); z-index: 9999999;}
.search_popup > a.search_close{position: absolute; top: 50px; right: 50px; color: #fff; width: 30px; height: 30px;}
.search_popup > a.search_close img{width: 100%;}
.search_popup > div{position: absolute; width: 600px; border-bottom: 1px solid #fff;top: 30%; left: 50%; margin-left: -300px; padding-bottom:10px;}
.search_popup > div input{background: rgba(255,255,255,0); border: 0; outline: none; width: 555px; color: #fff; font-size: 25px; vertical-align: middle;}
.search_popup > div input[type=search]::-webkit-search-cancel-button {-webkit-appearance: none;width: 15px; height: 15px; background: url('../images/ver02/search_x.png') center/contain no-repeat;cursor: pointer;}
.search_popup > div input::-webkit-input-placeholder{color: #fff;}
.search_popup > div input:-ms-input-placeholder{color: #fff;}
.search_popup > div input::-moz-placeholder{color: #fff;}
.search_popup > div button{background: none; border: 0; outline: 0; width: 40px; vertical-align: middle; cursor:pointer;}
.search_popup > div button img{width: 100%;}



/* 롤링 배너 (kv) */
.swiper{width: 100%; height: 100vh;}
.swiper .swiper-wrapper .swiper-slide.banner01 a{display: block; height: 100%; background: url('../images/ver02/banner01.png') center/cover no-repeat;}
.swiper .swiper-wrapper .swiper-slide.banner02 a{display: block; height: 100%; background: url('../images/ver02/banner02.png') center/cover no-repeat;}
.swiper .swiper-wrapper .swiper-slide.banner03 a{display: block; height: 100%; background: url('../images/ver02/banner03.png') center/cover no-repeat;}

main .swiper .swiper-pagination-clickable .swiper-pagination-bullet{width: 15px; height: 15px; border-radius: 50px;}
main .swiper .swiper-pagination-clickable .swiper-pagination-bullet.swiper-pagination-bullet-active{width: 25px; height: 15px; border-radius: 50px; background:#fff;}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{bottom:30px;}

/* 베스트셀러 */
#best_seller .best_kv{width: 100%; height: 280px; display: flex; justify-content: center; align-items: center; flex-direction:column;}
#best_seller .best_kv h3{font-size: 30px; margin-bottom: 20px; font-weight: 500;}
#best_seller .best_kv h3 span{color:#4982cf}
#best_seller .best_kv p{text-align: center; line-height: 1.3; font-size: 20px; font-weight: 400;}
#best_seller #best_seller_div{margin: 0 -10px; margin-top: 20px;}
#best_seller #best_seller_div div.slick-slide{margin: 0 10px;}
#best_seller #best_seller_div div.cont img{width: 100%;}
#best_seller #best_seller_div div.cont .tit{display: block; font-size: 14px; margin-top: 15px; text-align: center; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
#best_seller #best_seller_div div.cont .price{display: block; font-size: 17px; font-weight: 600;  margin-top: 2px; text-align: center;}

/* 메뉴링크 */
#menu_link ul{display: flex; justify-content: space-between; align-items: center;}
#menu_link ul li{width: calc(25%); height: 150px; border: 1px solid #eee; border-left: 0;}
#menu_link ul li:first-of-type{border-left: 1px solid #eee;}
#menu_link ul li a{width: 100%; height: 100%; display: block;}
#menu_link ul li a span{display: block;text-align: center; padding-top: 110px; height: 27%;}

/* sns */
#sns ul{display: flex; justify-content:center; margin: 0 -10px;}
#sns ul li{width: 224px; height: 224px; margin:0 10px}
#sns ul li a{display: block; width: 100%; height: 100%;}
#sns ul li a img{width: 100%; height: 100%;}

/* 탑버튼 */
.top_btn{position: fixed; right: 100px; bottom: 100px; }
.top_btn img{width: 50px;}


/* footer */
footer{margin-top: 100px; background: #fff; border-top: 1px solid #e5e7eb;}
footer #footer{width: 1200px; margin: 0 auto; padding: 50px 0;}
footer #footer > div{float: left; }
footer #footer .logo img{width: 60px;}
footer #footer .customer{margin-left: 100px;}
footer #footer .address{float: right;}
footer #footer h4{font-size: 16px; font-weight: 600; margin-bottom: 10px;}
footer #footer p{font-size: 13px; line-height: 1.3;}
footer #footer .tel{font-size: 16px; font-weight: 600;}
footer .footer{background: #f1f8ff; padding: 35px 0;}
footer .footer p{text-align: center; color: #212121;}


@media (min-width: 1201px) and (max-width: 1300px) {
    header.pc #lnb .lnb{width: 100%; padding: 0 5%; box-sizing: border-box;}
    header.pc #header{width: 100%; padding: 0 5%; box-sizing: border-box;}
    header.pc #header #nav li{margin-left: 80px;}
}

