/* 공통 */
*{font-family: 'S-CoreDream-3Light', 'Noto Sans KR', sans-serif;}
.en{font-family: 'Comfortaa', cursive;}
.clear::after{content: ''; clear: both; display: block;}
main{margin-top: 111px;}
section{width: 1200px; margin: 0 auto; padding-top: 120px;}
section > h3{font-weight: 700; font-size: 28px; margin-bottom: 60px; text-align: center;}
section > h2::first-letter{color: #4982cf;}
section#kv{height: 250px; width: 100%; padding: 0;}
.btn_wrap{margin-top: 50px; display: flex; justify-content: center;}
.btn_wrap a{padding: 15px 50px; margin: 0 5px; font-weight: 600;}
.btn_wrap a.order_btn{background: #4982cf; border: 1px solid #4982cf; color: #fff;}
.btn_wrap a.shopping_btn{background: #fff; border: 1px solid #4982cf; color: #4982cf;}
body.no-scroll{overflow: hidden;}
a:hover, button:hover { cursor: pointer;}

/* header */
header.pc{width: 100%; height: 110px; position: fixed; top: 0; left: 0; z-index: 99;}
header.pc #lnb{width: 100%; height: 35px; box-sizing: border-box;}
header.pc #lnb .lnb{width: 1200px; height: 100%; margin: 0 auto; display: flex; justify-content:flex-end; align-items: center;}
header.pc #lnb .lnb li{margin-left: 29px; position: relative;}
/*header.pc #lnb .lnb li.login::before{content: ""; display: block; background: url('../images/user.png') center/contain no-repeat; position: absolute; top: 0; left: -15px; width: 11px; height: 19px;}
header.pc #lnb .lnb li.cart::before{content: ""; display: block; background: url('../images/cart.png') center/contain no-repeat; position: absolute; top: 0; left: -15px; width: 11px; height: 19px;}
header.pc #lnb .lnb li.search::before{content: ""; display: block; background: url('../images/search.png') center/contain no-repeat; position: absolute; top: 0; left: -15px; width: 11px; height: 19px;}
header.pc #lnb .lnb li.notice::before{content: ""; display: block; background: url('../images/menu.png') center/contain no-repeat; position: absolute; top: 0; left: -15px; width: 11px; height: 19px;}*/
header.pc #lnb .lnb li a{font-size: 12px;}

header.pc #header{height: 75px; width: 1200px; margin: 0 auto; display: flex; align-items: center; justify-content:space-between;}
header.pc #header h1{width: 70px; height: 54px; background: url('../images/ver02/logo.png') 0 0/contain no-repeat;}
header.pc #header h1 a{font-size: 0; display: block; height: 100%;}
header.pc #header #nav{display: flex; align-items: center;}
header.pc #header #nav li{margin-left: 120px; }
header.pc #header #nav li:first-of-type{margin-left: 0px;}
header.pc #header #nav li a{font-weight: 600; font-size: 16px;}
header.pc #header #nav li.on a{color: #4982cf;}

header.pc {background-color: #fff; border-bottom:1px solid #eee; box-shadow: 1px 1px 10px rgba(0,0,0,0.2);}
header.pc #header h1{width: 70px; height: 54px; background: url('../images/ver02/logo_blue.png') 0 0/contain no-repeat;}
header.pc #header #nav{height: 100%;}
header.pc #header #nav li{height: 100%;}
header.pc #header #nav li a{height: 100%; display: inline-block; line-height: 75px; box-sizing: border-box;}
header.pc #header #nav li a:hover{/*border-bottom: 3px solid red;*/ color: #4982cf;}




/* 검색창 */
.search_popup{position: fixed; width: 100%; height: 100%; background: rgba(0,0,0,0.8); z-index: 9999999; top: 0; left: 0;}
.search_popup > a.search_close{position: absolute; top: 50px; right: 50px; color: #fff; width: 30px; height: 30px;}
.search_popup > a.search_close img{width: 100%;}
.search_popup > div{position: absolute; width: 600px; border-bottom: 1px solid #fff;top: 30%; left: 50%; margin-left: -300px; padding-bottom:10px;}
.search_popup > div input{background: rgba(255,255,255,0); border: 0; outline: none; width: 555px; color: #fff; font-size: 25px; vertical-align: middle;}
.search_popup > div input[type=search]::-webkit-search-cancel-button {-webkit-appearance: none;width: 15px; height: 15px; background: url('../images/ver02/search_x.png') center/contain no-repeat;cursor: pointer;}
.search_popup > div input::-webkit-input-placeholder{color: #fff;}
.search_popup > div input:-ms-input-placeholder{color: #fff;}
.search_popup > div input::-moz-placeholder{color: #fff;}
.search_popup > div button{background: none; border: 0; outline: 0; width: 40px; vertical-align: middle; cursor:pointer;}
.search_popup > div button img{width: 100%;}


/* 상품페이지 */
#product section#kv{background: #fafcff;}
/* 상품페이지 카테고리 */
#product .category{width: 1200px; display: flex; justify-content: center; margin: 60px auto 0;}
#product .category li{ margin: 0 5px;}
#product .category li a{font-weight: 900; font-size: 15px; padding: 7px 15px; display: block;}
#product .category li.on{border-bottom: 2px solid #4982cf;}
#product .category li.on a{color: #4982cf;}
#product .category li a:hover{color: #4982cf;}

/* 상품페이지 상품 나열 */
#product section ul {  display: flex;  justify-content: flex-start; flex-direction: row; flex-wrap: wrap; margin: 0 -15px; }
#product section ul li{ width: calc(25% - 30px); margin: 0 15px; margin-bottom: 70px;}
#product section ul li a img{width: 100%;}
#product section ul li a span{display: block; text-align: center; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
#product section ul li a span.tit{font-size: 14px; margin-top:15px;}
#product section ul li a span.price{font-weight: 600; font-size: 17px; margin-top: 2px;}

/* 페이징 */
.paging{width: 1000px; margin: 20px auto; display: flex; justify-content: center;}
.paging li{margin: 0 10px; width: 14px;}
.paging li a{font-size: 13px; height: 100%;}
.paging li.on a{color: #4982cf;}
.paging li.first{width: 14px; margin-right: 0; background: url('https://flyairseoul.com/CW/public/images/icons/common-s57efedab2d.png') no-repeat; background-position: 0 -6983px;}
.paging li.pre{width: 9px; background: url('https://flyairseoul.com/CW/public/images/icons/common-s57efedab2d.png') no-repeat; background-position: 0 -7151px;}
.paging li.next{width: 9px; background: url('https://flyairseoul.com/CW/public/images/icons/common-s57efedab2d.png') no-repeat; background-position: 0 -7095px;}
.paging li.last{width: 14px;margin-left: 0; background: url('https://flyairseoul.com/CW/public/images/icons/common-s57efedab2d.png') no-repeat; background-position: 0 -7039px;}
.paging-area{width:1100px; margin: 0 auto;margin-left: 16%;}
.review-view{margin-top: 20px;} 
/* 장바구니 페이지 */
#cart table{width: 100%;border: 1px solid #eee; border-collapse: collapse;}
#cart table td, #cart table th{vertical-align: middle; border: 1px solid #eee; padding: 10px; text-align: center;}
#cart table td .cart_pd{width: 100px; height: 100px;}
#cart table td .cart_pd + span{display: block; margin-top: 3px;}
#cart table td .count-wrap .inp{text-align: center; width: 50px; border: 1px solid #ddd; font-size: 20px;}
#cart table td .count-wrap button{border: 1px solid #ddd; background-color: #fff; width: 30px; font-size: 20px; cursor: pointer;}
#cart .del{padding: 10px 20px; border: 1px solid #eee; display: inline-block; margin-top: 20px;}
#cart .total_order{margin-top: 50px; border: 1px solid #333; border-left: 0; border-right: 0;}
#cart .total_order .total{border-bottom: 1px solid #eee; box-sizing: border-box; padding: 10px 20px;}
#cart .total_order .total span{color: #4982cf; font-weight: 900;}
#cart .total_order .total + ul{display: flex; justify-content: center; margin: 10px 0;}
#cart .total_order .total + ul li{margin: 10px;}
#cart .total_order .total + ul li p{font-weight: bold; text-align: center; font-size: 20px;}
#cart .total_order .total + ul li span{margin-top: 5px; font-size: 12px; color: #999; display: block; text-align: center;}
#cart .total_order .total + ul li p.total_price{color: #4982cf;}

#cart .mo{display: none;}

/* 상품상세페이지 */
#pd_detail .img_wrap{float: left; width: calc(550px);}
#pd_detail .img_wrap img{width: calc(550px); height: 550px;}
#pd_detail .info_wrap{float: right; width: calc(550px); }
#pd_detail .info_wrap .title{border-bottom: 1px solid #eee; padding-bottom: 20px; margin-bottom: 20px;}
#pd_detail .info_wrap .title h4{font-size: 20px; font-weight: 900;}
#pd_detail .info_wrap .title p{font-size: 20px; font-weight: 900; color: #4982cf; margin-top: 10px;}
#pd_detail .info_wrap div p.context{font-size: 16px; word-break: keep-all; line-height: 1.3;}
#pd_detail .info_wrap div ul{margin-top: 15px;}
#pd_detail .info_wrap div ul li{line-height: 2;}
#pd_detail .info_wrap div ul li strong{float: left; font-weight: 900; width: 90px;}
#pd_detail .info_wrap div ul li span{float: left;}
#pd_detail .info_wrap div ul li span.delivery_context{line-height: 1.3;}
#pd_detail .info_wrap div .pd_num {margin-top: 30px; box-sizing: border-box; padding: 20px; background-color: rgba(34,34,34,0.03)}
#pd_detail .info_wrap div .pd_num > p{border-bottom: 1px dotted #666; padding-bottom: 15px; margin-bottom: 15px;}
#pd_detail .info_wrap div .pd_num > .count-wrap{float: left;}
#pd_detail .info_wrap div .pd_num > .count-wrap + span{float: right;}
#pd_detail .info_wrap div .count-wrap .inp{text-align: center; width: 50px; border: 1px solid #ddd; font-size: 20px;}
#pd_detail .info_wrap div .count-wrap button{border: 1px solid #ddd; background-color: #fff; width: 30px; font-size: 20px; cursor: pointer;}
#pd_detail .info_wrap div .total_price_wrap{margin-top: 20px; display: flex; justify-content: space-between;}
#pd_detail .info_wrap div .total_price_wrap p {font-size: 14px;}
#pd_detail .info_wrap div .total_price_wrap p span{color: #4982cf;}
#pd_detail .info_wrap div .total_price_wrap .total_price{color: #4982cf; font-weight: 900; font-size: 20px;}



/* 문의하기 */
#inquiry .mo_scroll .scroll_x{display: none;}
#inquiry .inquiry_wrap {margin-bottom: 70px;}
#inquiry .inquiry_wrap *{box-sizing: border-box;}
#inquiry .inquiry_wrap .th_line {display: flex; border-top: 1px solid #4982cf; border-bottom: 1px solid #4982cf;}
#inquiry .inquiry_wrap .th_line li{font-weight: bold; text-align: center; padding: 20px 10px;}
#inquiry .inquiry_wrap .no{width: 6%; text-align: center;}
#inquiry .inquiry_wrap .tit{width: 79%; }
#inquiry .inquiry_wrap .date{width: 15%; text-align: center;}
#inquiry .inquiry_wrap .qna_wrap li p{padding: 20px 10px;}
#inquiry .inquiry_wrap .qna_wrap .qna ul.list {display: flex;}
#inquiry .inquiry_wrap .qna_wrap .qna ul.list li{padding: 20px 10px; border-bottom: 1px solid #ddd; }
#inquiry .inquiry_wrap .qna_wrap .qna ul.list li.secret.tit{position: relative; padding-left: 38px;}
#inquiry .inquiry_wrap .qna_wrap .qna ul.list li.secret.tit::before{content: "";background: url('../images/ver02/lock.png') center/contain no-repeat;display: block; width: 20px; height: 20px; position: absolute; top: 20px; left: 10px;}
#inquiry .inquiry_wrap .qna_wrap .qna .text_wrap li.yet{display: none;}
#inquiry .inquiry_wrap .qna_wrap .qna .list .tit{cursor: pointer; text-overflow:ellipsis; overflow: hidden; white-space: nowrap;}
#inquiry .inquiry_wrap .qna_wrap .qna .text_wrap{display: none;border-bottom: 1px solid #ddd;}
#inquiry .inquiry_wrap .qna_wrap .qna .text_wrap .q_area{display: flex; background: #f5f5f5; align-items: center;}
#inquiry .inquiry_wrap .qna_wrap .qna .text_wrap .a_area{display: flex; background: #f9fcff; align-items: center;}
#inquiry .inquiry_wrap .qna_wrap .qna .text_wrap .no{font-size: 1.5em; color: #4982cf;  font-weight: bold;}
#inquiry .inquiry_wrap .qna_wrap .qna .text_wrap .question_date{visibility: hidden;}

#inquiry .inquiry_ > .btn_wrap{justify-content:flex-end;}
#inquiry .inquiry_ > .btn_wrap a{margin:0}

#inquiry .inquiry_popup{position: fixed; width: 100%; height: 100%; background: rgba(0,0,0,0.8); z-index: 9999999; top: 0; left: 0;}
#inquiry .inquiry_popup .inquiry_close{display: none;}
#inquiry .inquiry_popup .inquiry_write{border-radius: 30px; box-sizing: border-box; padding: 60px; width: 700px; height: 700px; position: absolute; top: 10%; left: 50%; margin-left: -350px; background: #fff;}
#inquiry .inquiry_popup .inquiry_write2{border-radius: 30px; box-sizing: border-box; padding: 60px; width: 1000px; height: 700px; position: absolute; top: 10%; left: 50%; margin-left: -500px; background: #fff;}
#inquiry .inquiry_popup .inquiry_write h3{ font-weight: 700; font-size: 28px; margin-bottom: 60px; text-align: center;}
#inquiry .inquiry_popup .inquiry_write table { width: 100%;border: 1px solid #ccc; border-collapse: collapse; }
#inquiry .inquiry_popup .inquiry_write th,
#inquiry .inquiry_popup .inquiry_write td {vertical-align: middle; border: 1px solid #ccc; padding: 10px; text-align: left;}
#inquiry .inquiry_popup .inquiry_write td input#secret_write_N{margin-left: 20px;}
#inquiry .inquiry_popup .inquiry_write td input#inquiry_tit{border-radius: 5px; border: 1px solid #ccc; padding: 10px; font-size: 16px; width: 100%; box-sizing: border-box;}
#inquiry .inquiry_popup .inquiry_write td textarea#inquiry_cont{border-radius: 5px;  resize: none;border: 1px solid #ccc; padding: 10px; font-size: 16px; width: 100%; height: 250px; box-sizing: border-box;}
#inquiry .inquiry_popup .inquiry_write td textarea#inquiry_cont2{border-radius: 5px;  resize: none;border: 1px solid #ccc; padding: 10px; font-size: 16px; width: 100%; height: 250px; box-sizing: border-box;}
#inquiry .inquiry_popup .inquiry_write td .textLengthWrap{text-align: right; color: #aaa;}


/* 탑버튼 */
.top_btn{position: fixed; right: 100px; bottom: 100px; }
.top_btn img{width: 50px;}


/* footer */
footer{margin-top: 100px; background: #fff; border-top: 1px solid #e5e7eb;}
footer #footer{width: 1200px; margin: 0 auto; padding: 50px 0;}
footer #footer > div{float: left; }
footer #footer .logo img{width: 60px;}
footer #footer .customer{margin-left: 100px;}
footer #footer .address{float: right;}
footer #footer h4{font-size: 16px; font-weight: 600; margin-bottom: 10px;}
footer #footer p{font-size: 13px; line-height: 1.3;}
footer #footer .tel{font-size: 16px; font-weight: 600;}
footer .footer{background: #f1f8ff; padding: 35px 0;}
footer .footer p{text-align: center; color: #212121;}


@media (min-width: 1201px) and (max-width: 1300px) {
    header.pc #lnb .lnb{width: 100%; padding: 0 5%; box-sizing: border-box;}
    header.pc #header{width: 100%; padding: 0 5%; box-sizing: border-box;}
    header.pc #header #nav li{margin-left: 80px;}

    #product .category, .paging{width: 100%;}

    
}
   

@-webkit-keyframes scroll_{
    from{
      transform: translateX(0);
    }
    to{
        transform: translateX(10px);
    }
  }